@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.hero-section {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  max-width: 700px;
}

h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

p {
  font-size: 1.4rem;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.cta-button {
  width: 300px;
  padding: 1em;
  border: none;
  outline: none;
  color: rgba(255, 183, 3, 1);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cta-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 60s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.cta-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

h1,
p {
  font-family: "Poppins", sans-serif;
  position: relative;
  color: transparent;
}

h1:before,
p:before {
  content: attr(data-text);
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: 0;
  left: 0;
  background-size: 400%;
  z-index: -1;
  -webkit-background-clip: text;
  background-clip: text;
  width: 100%;
  height: 100%;
  animation: glowing-text-85 60s linear infinite;
}

@keyframes glowing-text-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
