.body {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  margin-top: 40px;
}

.toolbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid grey;
  width: 20%;
  gap: 40px;
  padding: 0 20px 20px 20px;
  margin-right: 50px;
}

.toolbarGroup1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 4rem;
}

.toolbarGroup2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 4rem;
}

.optionHeader {
  font-size: 1.75rem;
  margin-bottom: 10px;
  color: #e8e8e8;
}

.option {
  display: flex;
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #9b9b9b;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.icon {
  position: relative;
  left: 40px;
  top: 16px;
  transform: translateY(-50%);
}

.search {
  width: 60%;
  height: 45px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 40px;
  padding-left: 50px;
  font-size: 1rem;
  color: white;
}
